#nav {
  background-color: rgb(14, 238, 163);
}
#nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#nav ul li:first-child {
  margin-right: auto;
}
#nav ul li {
  list-style: none;
  height: 60px;
  display: flex;
  align-items: center;
}

#nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 20px;
  height: 100%;
}
#nav ul li a:hover {
  background-color: rgb(8, 157, 162);
}
